#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#calculator{
    height: 500px;
    width: 390px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input{
    height: 70px;
    border: none;
    border-bottom: 1px solid grey;
    text-align: right;
    font-size: 45px;
    padding-right: 8px;
    color: rgb(163, 165, 168);

}

#buttons{
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column{
    flex: auto;
    display: flex;
    justify-content: space-around;
}

.column > button{
    flex: 0 0 auto;
    height: 70px;
    width: 70px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    /* color: rgb(65, 65, 65); */
    color: grey;
    font-size: 25px;
    font-weight: bold;
}

.column > button:hover{
    background-color: grey;
    color: white;
}
